#iconmodal.modal.fade
  div.modal-dialog
    div.modal-content
      div.modal-header
        button.close(type="button", data-dismiss="modal", aria-hidden="true") x
        h3
          span.translate Add Icon
          div.color-bar
            span.pink __
            span.red __
            span.orange __
            span.yellow __
            span.green __
            span.blue __
            span.purple __
      div.modal-body
        div.row
          img.col-md-4(src="/images/teacher_14016.png")
          img.col-md-4(src="/images/penguin_1986.png")
          img.col-md-4(src="/images/mosquito_19603.png")
        div.row
          img.col-md-4(src="/images/deer_103.png")
          img.col-md-4(src="/images/lobster_7165.png")
          img.col-md-4(src="/images/pig_1575.png")
        div.row
          img.col-md-4(src="/images/fish_12563.png")
          img.col-md-4(src="/images/frog_2546.png")
          img.col-md-4(src="/images/duck_12535.png")
        div.clearfix

      div.modal-footer
        button.btn.btn-default.translate(type="button", data-dismiss="modal") Cancel
        button.btn.btn-success.translate.iconadder(type="button", data-dismiss="modal") Add Icon
