script(type="text/javascript", src="/jqime/libs/rangy/rangy-core.js")
script(type="text/javascript", src="/jqime/src/jquery.ime.js")
script(type="text/javascript", src="/jqime/src/jquery.ime.selector.js")
script(type="text/javascript", src="/jqime/src/jquery.ime.preferences.js")
script(type="text/javascript", src="/jqime/src/jquery.ime.inputmethods.js")
