ul#languageselect.dropdown-menu(role="menu", aria-labelledby="dLabel")
  li.en(role="presentation")
    a(href="?language=en", role="menuitem") English
  li.es(role="presentation")
    a(href="?language=es", role="menuitem") Español
  li.ht(role="presentation")
    a(href="?language=ht", role="menuitem") Kreyòl Ayisyen
  li.ne(role="presentation")
    a(href="?language=ne", role="menuitem") नेपाली
  li.ar(role="presentation")
    a(href="?language=ar", role="menuitem") العربية
