ul#languageselect.dropdown-menu(role="menu", aria-labelledby="dLabel")
  li.en(role="presentation")
    a(href="?language=en", role="menuitem") English
  li.es(role="presentation")
    a(href="?language=es", role="menuitem") Español
  li.ht(role="presentation")
    a(href="?language=ht", role="menuitem") Kreyòl Ayisyen
  li.ar(role="presentation")
    a(href="?language=ar", role="menuitem") العربية
  li.am(role="presentation")
    a(href="?language=am", role="menuitem") አማርኛ
  li.bn(role="presentation")
    a(href="?language=bn", role="menuitem") বাংলা
  li.km(role="presentation")
    a(href="?language=km", role="menuitem") ភាសាខ្មែរ
