div.navbar.navbar-inverse.navbar-fixed-top(role="navigation")
  div.container
    div.navbar-header

    ul.nav.navbar-nav
      li.active
        a(href="#")
          span iLoominate&nbsp;&nbsp;
          span.translate Online

    ul.nav.navbar-nav.pull-right
      li
        a(href="#", data-toggle="dropdown")
          span.translate Language
          span &nbsp;▽
        include languages
      if loggedin
        li
          a#logout.translate(href="/logout") Log Out
      else
          li
            a.translate(href="/login") Log In
          li
            a.translate(href="/signup") Sign Up

br
br
br
