script(type="text/javascript", src="/pbs/engine/js/pbs.js")
script(type="text/javascript", src="/pbs/engine/js/eventDispatcher.js")
script(type="text/javascript", src="/pbs/engine/js/interaction.js")
script(type="text/javascript", src="/pbs/engine/js/resourceLoader.js")
script(type="text/javascript", src="/pbs/engine/js/book.js")
script(type="text/javascript", src="/pbs/engine/js/page.js")
script(type="text/javascript", src="/pbs/engine/js/textArea.js")
script(type="text/javascript", src="/pbs/engine/js/view.js")
script(type="text/javascript", src="/pbs/engine/js/sprite.js")
script(type="text/javascript", src="/pbs/engine/js/cycler.js")
