// custom script
script(type="text/javascript") var translations = !{translations};
script(type="text/javascript")
  != 'var outOfChromeApp = true;'
script(type="text/javascript", src="/localize.js")
