doctype html
html
  head
    meta(charset="utf-8")
    title iLoominate: Storybook App

    // 3rd party libraries
    link(href="/bootstrap.min.css", rel="stylesheet", type="text/css")

    // custom style
    link(href="/main.css", rel="stylesheet", type="text/css")

  body.homepage
    input#csrf(type='hidden', name='_csrf', value=token)

    include partials/main_menu

    div.container
      div.row
        div.col-md-8
          h1.translate Welcome to iLoominate
        div.col-md-4
          br
          a.btn.btn-success.translate(href="/make") Start Writing
          br
          br
          a.btn.btn-success.translate(href="/signup") Sign Up

      br
      br

      div.row.blank
        div.col-xs-4
          h3 Storybook App
          p An app for writing children's books.
          p You can write books online and while offline.
          p It's free and easy to use.

        div.col-xs-4
          h3 Multilingual
          p Launching with examples for English, Spanish, and Haitian Creole.
          p Unicode compatible. Tested with Arabic and Devanagari scripts.
          p Easy to translate UI into new languages.

        div.col-xs-4
          h3 Create and Collaborate
          p Sign up users and create teams online.
          p Word lists and images are shared between all team members.
          p Drop images and word lists directly into a web browser.

      br
      br

      div.row.blank
        div.col-xs-4
          h3 Designed by Educators
          p Our team is composed of teachers and technologists focused on the future of education.

        div.col-xs-4
          h3 Open Source
          p Our project is built on open source technology, and we have released all of our code with an open source license as well.
          p
            span Programmers can contribute to the project&nbsp;
            a(href="https://github.com/mapmeld/iloominate") on GitHub.

      div.row
        br
        br


    // 3rd party libraries
    script(type="text/javascript", src="/jquery-1.11.0.min.js")
    script(type="text/javascript", src="/bootstrap.min.js")
    script(type="text/javascript", src="/polyglot.min.js")

    include partials/translate_page

    include partials/analytics
