doctype html
html
  head
    meta(charset="utf-8")
    title= 'iloominate: Storybook App'

    // 3rd party libraries
    link(href="/bootstrap.min.css", rel="stylesheet", type="text/css")

    // custom style
    link(href="/main.css", rel="stylesheet", type="text/css")

  body#imager
    input#csrf(type='hidden', name='_csrf', value=token)

    include partials/main_menu

    div.container
      div.row.imagerbar
        div.col-md-4
          a.addicon.translate(href="#") Add Icon
        div.col-md-4
          a.upload.translate(href="#") Upload
        div.col-md-4
          a.download.translate(href="#") Download

      div.row
        div.span12#stage

    canvas.color-change.hide(width="164", height="164")

    include partials/icon_modal

    // 3rd party libraries
    script(type="text/javascript", src="/jquery-1.11.0.min.js")
    script(type="text/javascript", src="/bootstrap.min.js")
    script(type="text/javascript", src="/polyglot.min.js")
    script(type="text/javascript" src="/kinetic-v5.1.0.min.js")

    include partials/translate_page

    script(type="text/javascript") var image = !{image};
    script(type="text/javascript" src="/imager.js")

    include partials/analytics
