doctype html
html
  head
    meta(charset="utf-8")
    title= 'iloominate: Storybook App'

    // 3rd party libraries
    link(href="/antihighlight/jquery.antihighlight.css", rel="stylesheet", type="text/css")
    link(href="/bootstrap.min.css", rel="stylesheet", type="text/css")
    link(href="/jqime/css/jquery.ime.css", rel="stylesheet", type="text/css")

    // custom style
    link(href="/main.css", rel="stylesheet", type="text/css")

  body
    div.container
      .row-fluid
        .col-xs-3.list-group.page-list
          a.list-group-item.active(href="#")
            h4.list-group-item-heading.translate Page 1
            p.list-group-item-text.translate What is the story?
          div.list-group-item
            a.btn.btn-success.new-page.translate(href="#") Add Page

        .col-lg-9
          noscript.translate Enable JavaScript!

          .user-login
            if loggedin
              .dropdown(style="display:inline;")
                a(href="#", data-toggle="dropdown")
                  span.translate Word List
                  span &nbsp;▽
                ul.dropdown-menu(role="menu", aria-labelledby="dLabel")
                  li.active(role="presentation")
                    a.translate(href="#", role="menuitem") Original
              span &nbsp;&nbsp;|&nbsp;&nbsp;
              a#logout.translate(href="/logout") Log Out
            else
              a.translate(href="/login") Log In
              span &nbsp;&nbsp;|&nbsp;&nbsp;
              a.translate(href="/signup") Sign Up

          .well
            .image_area
              h4.translate(dir="auto") Drop in an Image
              .filedrop.bordered

            .clearfix

            //
              h4.translate(dir="auto") Type first page
            br
            textarea.form-control.translate(name="page", rows="3", dir="auto")
              != 'Type first page'
            br
            a.btn.btn-info.pdfify.translate(href="#") Make into PDF
            a.btn.btn-success.bookify.translate(href="#") Make into Book
            a.btn.btn-info.upload.translate(href="#") Upload
            
            .clearfix

          canvas.hide(width="500", height="300")
      .book.hide

    #wordmodal.modal.fade
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type="button", data-dismiss="modal", aria-hidden="true") x
            h3.translate Save Word List
          .modal-body
            .form-group
              label.translate(for="wordlistname") Name
              input#wordlistname.form-control(type="text", name="wordlistname")
            p Word list goes here
          .modal-footer
            button.btn.btn-default.translate(type="button", data-dismiss="modal") Cancel
            button.save.btn.btn-primary.translate(type="button", data-dismiss="modal") Save

    // 3rd party libraries
    script(type="text/javascript", src="/jquery-1.11.0.min.js")
    script(type="text/javascript", src="/antihighlight/jquery.antihighlight.js")

    script(type="text/javascript", src="/jspdf.min.js")

    script(type="text/javascript", src="/turn.min.js")
    
    script(type="text/javascript", src="/bootstrap.min.js")
    
    script(type="text/javascript", src="/polyglot.min.js")

    script(type="text/javascript", src="/jqime/libs/rangy/rangy-core.js")
    script(type="text/javascript", src="/jqime/src/jquery.ime.js")
    script(type="text/javascript", src="/jqime/src/jquery.ime.selector.js")
    script(type="text/javascript", src="/jqime/src/jquery.ime.preferences.js")
    script(type="text/javascript", src="/jqime/src/jquery.ime.inputmethods.js")

    // custom script
    script(type="text/javascript") var translations = !{translations};
    script(type="text/javascript")
      != 'var outOfChromeApp = true;'
    script(type="text/javascript", src="/localize.js")
    script(type="text/javascript", src="/test.js")