doctype html
html
  head
    meta(charset="utf-8")
    title iLoominate: Storybook App

    // 3rd party libraries
    link(href="/bootstrap.min.css", rel="stylesheet", type="text/css")
    link(href="/jqime/css/jquery.ime.css", rel="stylesheet", type="text/css")

    // custom style
    link(href="/main.css", rel="stylesheet", type="text/css")

    // fonts for sample
    link(href="/noto-fonts.css", rel="stylesheet", type="text/css")
    link(href="/webfont-fonts.css", rel="stylesheet", type="text/css")

  body
    include partials/main_menu
    br

    form.container(action="/make", method="POST", enctype="multipart/form-data")
      input#csrf(type='hidden', name='_csrf', value=token)
      div.row
        div.col-md-2
          div.list-group.page-list.follow-page
            a.list-group-item(href="#paper")
              h4.list-group-item-heading.translate Paper
            a.list-group-item(href="#cover")
              h4.list-group-item-heading.translate Cover
            a.list-group-item(href="#writing")
              h4.list-group-item-heading.translate Writing
            a.list-group-item(href="#layout")
              h4.list-group-item-heading.translate Layout

        div.col-md-10
          noscript Enable JavaScript!

          a(name="paper")
          h3.translate Paper Size

          div.row
            div.col-md-6
              label
                input(type="radio", name="paper-size", value="8.5x11", checked="checked")
                span 8.5 x 11

            div.col-md-6
              label
                input(type="radio", name="paper-size", value="5.5x8.5")
                span 5.5 x 8.5 (fold an 8.5 x 11)

          hr
          a(name="cover")
          h3.translate Cover

          div.row
            div.col-md-6
              h4.translate Title and Author
              input.translate(name="title", placeholder="Title")
              br
              br
              input.translate(name="author", placeholder="Author")

            div.col-md-6
              h4.translate Picture
              a.btn.btn-info.translate(href="#") Add Icon
              br
              br
              a.btn.btn-info.translate(href="#") Upload
              input#cover-image(type="file", name="coverImage")

          hr
          a(name="writing")
          h3.translate Writing

          div.row
            div.col-md-6
              h4.translate Fonts and Letters
              select#fontName(name="font", dir="auto")
                option(value="arial") Arial
                option(value="web_Amiri") Amiri Arabic
                option(value="courier") Courier
                option(value="georgia") Georgia
                option(value="helvetica") Helvetica
                option(value="web_Lateef") Lateef Arabic
                option(value="web_Lohit Devanagari") Lohit Devanagari
                option(value="NotoKufiArabic") Noto Kufi Arabic
                option(value="NotoNaskhArabic") Noto Naskh Arabic
                option(value="NotoSans") Noto Sans
                option(value="NotoDevanagari") Noto Sans Devanagari
                option(value="NotoSerif") Noto Serif
                option(value="web_Thabit") Thabit Arabic
                option(value="times") Times
                option(value="verdana") Verdana

              br
              br
              input#fontSize(type="number", name="fontSize", value="28", min="10", max="60")

              br
              br
              span#fontSample.translate(style="font-family: Arial; font-size: 28pt;") Fonts and Letters

            div.col-md-6.line-labels
              h4.translate Difficulty
              label.translate sentences per page
              input(type="number", name="per-page", value="10", min="1", max="10")
              br
              br
              label.translate words per sentence
              input(type="number", name="per-sentence", value="30", min="1", max="50")
              br
              br
              label.translate word spacing
              input(type="number", name="word-spacing", value="1", min="1", max="5")
              br
              br
              label.translate line size
              input#lineSize(type="number", name="line-height", value="28", min="10", max="60")

          hr
          a(name="layout")
          h3.translate Layout

          div.row.line-labels
            div.col-md-6
              h4.translate Text
              p.translate Allow:
              label
                input(type="checkbox", name="full-page")
                span.translate full page
              label
                input(type="checkbox", name="span-page")
                span.translate span both pages
              label
                input(type="checkbox", name="top-page")
                span.translate top of page
              label
                input(type="checkbox", name="middle-page")
                span.translate middle of page
              label
                input(type="checkbox", name="bottom-page")
                span.translate bottom of page

            div.col-md-6
              h4.translate Images
              p.translate Allow:
              label
                input(type="checkbox", name="bg-image")
                span.translate background image (one page)
              label
                input(type="checkbox", name="span-image")
                span.translate span both pages
              label
                input(type="checkbox", name="top-image")
                span.translate top of page
              label
                input(type="checkbox", name="middle-image")
                span.translate middle of page
              label
                input(type="checkbox", name="bottom-image")
                span.translate bottom of page

      div.row
        br
        br
        br
        input(type="submit", value="Create Book")
        br
        br
        br

      canvas.color-change.hide(width="164", height="164")

    include partials/icon_modal

    // 3rd party libraries
    script(type="text/javascript", src="/jquery-1.11.0.min.js")
    script(type="text/javascript", src="/bootstrap.min.js")
    script(type="text/javascript", src="/polyglot.min.js")

    include partials/jquery_ime

    include partials/translate_page

    script(type="text/javascript", src="/make.js")

    include partials/analytics
