/* typing area */
textarea.form-control {
  min-width: 100%;
  border: none;
  box-shadow: none;
  font-size: 16pt;
}

/* image drop area */
.image_area {
  width: 50%;
  float: left;
}

.image_area img, .book img {
  max-width: 100%;
  max-height: 50%;
}

.image_area.fullsize {
  width: 100%;
  background-size: cover !important;
  height: 400px;
  margin-bottom: -20px;
}

.bordered {
  height: 200px;
  border: 4px dashed #777;
}

/* page listings */
.page-list {
  z-index: 10;
}
.page.well {
  width: 90%;
}

/* buttons */
.col-xs-3 {
  z-index: 2;
}

.rtl .rtlhide {
  display: none;
}

/* guide */
img.icon {
  width: 40px;
  height: 40px;
  margin-top: -2px;
  margin-right: 10px;
}

#guidemodal li {
  list-style-type: none;
  padding-bottom: 4px;
}

/* word lists */
#wordmodal p {
  background-color: #ddd;
  padding: 4px;
}

/* layouts section */
.layouts {
  box-sizing: border-box;
  width: 40%;
  float: left;
  padding: 25px;
}

/* user login */
.user-login {
  float: right;
  margin-right: 22px;
}

/* book preview */
.book {
  width: 800px;
  height: 600px;
  font-size: 22pt;
}

.book .turn-page {
  text-align: center;
  background-color: #C6E6FF;
  border: 1px solid #000;
}
.book .turn-page img {
  margin-left: auto;
  margin-right: auto;
}

.book img, .book span {
  display: block;
}

body#imager {
  background-color: #ccc;
}

#stage {
  background-color: #fff;
}

#addmodal img, #iconmodal img {
  cursor: pointer;
  border: 1px solid #444;
}
#addmodal img:hover, #iconmodal img:hover, #iconmodal img.highlight {
  border: 1px solid pink;
}

.imagerbar .col-md-4 {
  background-color: #ccf;
  text-align: center;
  height: 40px;
  border: 1px solid #fff;
  cursor: pointer;
}

.imagerbar .col-md-4 a {
  color: #fff;
  font-size: 25px;
}

.color-bar {
  float: right;
  text-size: 14pt;
  margin-right: 35px;
  cursor: pointer;
}
.color-bar span.pink {
  background-color: pink;
  color: pink;
}
.color-bar span.red {
  background-color: red;
  color: red;
}
.color-bar span.orange {
  background-color: orange;
  color: orange;
}
.color-bar span.yellow {
  background-color: yellow;
  color: yellow;
}
.color-bar span.green {
  background-color: green;
  color: green;
}
.color-bar span.blue {
  background-color: blue;
  color: blue;
}
.color-bar span.purple {
  background-color: purple;
  color: purple;
}

.homepage {
  background: url('/images/cover.jpg') 100% 100% no-repeat;
  background-position: top center;
}
.homepage h1 {
  font-size: 30pt;
  margin: 40px;
  color: #fff;
  text-shadow: 2px 2px #444;
}
.homepage .blank {
  background: #fff;
}
