/* typing area */
textarea {
  min-width: 100%;
}

/* image drop area */
.image_area {
  width: 50%;
  float: left;
}

.image_area img, .book img {
  max-width: 100%;
  max-height: 50%;
}

.bordered {
  height: 200px;
  border: 4px dashed #777;
}

/* page listings */
.page-list {
  z-index: 10;
}

/* buttons */
.rtl a.btn {
  float: right;
}

/* layouts section */
.layouts {
  box-sizing: border-box;
  width: 40%;
  float: left;
  padding: 25px;
}

/* user login */
.user-login {
  float: right;
  margin-right: 22px;
}

/* book preview */
.book {
  width: 800px;
  height: 600px;
  font-size: 22pt;
}

.book .turn-page {
  text-align: center;
  background-color: #C6E6FF;
  border: 1px solid #000;
}
.book .turn-page img {
  margin-left: auto;
  margin-right: auto;
}

.book img, .book span {
  display: block;
}